# Diretórios de build
/build/
/*/build/

# Diretórios locais do Android Studio
/.idea/
/.gradle/
/local.properties
/.cxx/
/.externalNativeBuild/

# Arquivos de configuração do sistema operacional
.DS_Store
*.swp
*.swo
*.iml
*.hprof
*.log

# Arquivos de cache
.cache
*.apk
*.ap_
*.dex

# Arquivos de configurações do Android Studio
.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/.name
.idea/assetWizardSettings.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/dictionaries
.idea/modules.xml
.idea/caches
.idea/codeStyles/Project.xml

# Arquivos de configuração do Android
*.keystore
*.jks

# Diretórios locais e temporários
/local.properties
*.orig
output.json
logs
crashlytics.properties

# Arquivos de dependências
/.gradle/
/app/build/
/caches/
/outputs/
/captures/
/build-cache/

# Arquivos de configuração específicos de compilação
*.class
*.war
*.jar

# Outros
*.bak
*.tmp

app/src/main/res/values/secrets.xml
